.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: grid;
  grid: 100px 100px 100px / 100px 100px 100px;
  gap: 10px;
  background-color: black;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  background-color: white;
}
